# ‚ùó 4. Transformer Í∏∞Î∞ò ÏòàÏ∏°Î™®Îç∏(EDA) ‚ùó

## üîß 1. ÌôòÍ≤Ω ÏÑ§Ï†ï Î∞è ÎùºÏù¥Î∏åÎü¨Î¶¨ Ï§ÄÎπÑ

In [1]:
# cuda Î≤ÑÏ†ºÏóê ÎßûÍ≤å pytorch ÏÑ§Ï†ï (https://pytorch.org/get-started/previous-versions/)
# Î≥ÑÎèÑÎ°ú ÏïÑÎûòÏùò Î™ÖÎ†πÏñ¥Î°ú ÏÑ§ÏπòÌï¥Ïïº Ìï®
# !pip install torch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 --index-url https://download.pytorch.org/whl/cu121

# Í∑∏ Ïô∏ ÌïÑÏöîÌïú Ìå®ÌÇ§ÏßÄ ÏÑ§Ïπò
!pip install -r "./week4_requirements.txt"

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip
ERROR: Could not open requirements file: [Errno 2] No such file or directory: './week4_requirements.txt'

## üìÇ 2. Îç∞Ïù¥ÌÑ∞ Î∂àÎü¨Ïò§Í∏∞
----  
* pandasÏùò read_excel Î©îÏÜåÎìú Ïù¥Ïö©
* ÏûÖÎ†• Ïù∏Ïûê  
    * sheet_name = None : Î™®Îì† ÏãúÌä∏Î•º Î∂àÎü¨ÏôÄÏÑú ÏãúÌä∏Î™ÖÏù¥ key, ÏãúÌä∏ ÎÇ¥Ïö© Îã¥Í∏¥ Îç∞Ïù¥ÌÑ∞ÌîÑÎ†àÏûÑÏù¥ valueÏù∏ ÎîïÏÖîÎÑàÎ¶¨ ÏÉùÏÑ±
        * ÌäπÏ†ï ÏãúÌä∏Îßå Î∂àÎü¨Ïò§Í≥† Ïã∂ÏùÄ Í≤ΩÏö∞ Ìï¥Îãπ ÏãúÌä∏Ïùò Ïù¥Î¶ÑÏùÑ Ï†ÅÏúºÎ©¥ Îê®  
        ex) sheet_name="Data_Set1(ÏÇ¨Ïô∏)"
    * header = 1 : Ïó¥ Ïù¥Î¶ÑÏù¥Î•º ÎÇòÌÉÄÎÇ∏ ÌñâÏùò ÏúÑÏπò (ex. ÎëêÎ≤àÏß∏ ÌñâÏù¥Î©¥ 1Î°ú ÏÑ§Ï†ï(0Î∂ÄÌÑ∞ ÏãúÏûëÌïòÍ∏∞ ÎïåÎ¨∏))

In [1]:
import pandas as pd


excel = pd.read_excel("/DATA/SKhynix/PBL_TAT_Set_Data Rev2(ÏÇ¨Ïô∏).xlsx", sheet_name=None, header=1)

total = pd.concat([excel[sheet_name] for sheet_name in ["Data_Set1(ÏÇ¨Ïô∏)","Data_Set2(ÏÇ¨Ïô∏)"]] )

# Unnamed: 0 Ïª¨Îüº Ï†úÍ±∞
total.drop(columns="Unnamed: 0", inplace=True)

# total.head()

KeyboardInterrupt:

## Í≤∞Ï∏°Ïπò ÌôïÏù∏ ÌõÑ Ï†úÍ±∞

* Ï¥ù 729584Ïùò Ìñâ Ï°¥Ïû¨
* Í≤∞Ï∏°Ïπò Ìñâ Ï†úÍ±∞: y Í∞íÏù¥ ÎπÑÏñ¥ ÏûàÎäî Ìñâ
* ÌôúÏö© ÏûÖÎ†• Î≥ÄÏàò: x22 Î∂ÄÌÑ∞Îäî Í≤∞Ï∏°ÏπòÍ∞Ä Í±∞Ïùò ÎåÄÎ∂ÄÎ∂ÑÏù¥Í∏∞ ÎïåÎ¨∏Ïóê, x21ÍπåÏßÄ ÌôúÏö©ÌïòÎäî Í≤ÉÏúºÎ°ú ÏßÑÌñâ

In [ ]:
print(f"Total: {len(total)}")
total.isna().sum()

Total: 1729584

timekey_hr          0
lot_cd              0
oper_area           0
oper_group          0
oper_id             0
days                0
shift               0
x1                  0
x2                  0
x3                  0
x4                  0
x5                  0
x6                  0
x7                  0
x8                  0
x9                  0
x10                 0
x11                 0
x12                 0
x13                 0
x14                 0
x15                 0
x16                 0
x17                 0
x18                 0
x19                 0
x20                 0
x21                 0
x22           1710072
x23           1710072
x24           1710072
x25           1710072
x26           1710072
x27           1710072
x28           1710072
x29           1651536
x30           1651536
x31           1651536
x32           1651536
x33           1651536
x34           1651536
x35           1651536
x36           1651536
x37           1651536
x38           1651536
x39           1651536
x40           1651536
x41           1728774
x42           1728774
x43           1728774
x44           1728774
x45           1688847
x46           1688847
x47           1688847
x48           1475952
x49           1475952
y               58127
dtype: int64

In [ ]:
# yÍ∞í Í≤∞Ï∏°Ïπò Ï†úÍ±∞
data = total[~total["y"].isna()]
print(f"y Í∞í Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ: {len(total)} ‚Üí {len(data)}")

# xÍ∞í Í≤∞Ï∏°Ïπò Ï†úÍ±∞
drop_x_features = [f"x{i}" for i in range(22, 49+1)]

data = data.drop(columns=drop_x_features, axis=1)

print(f"x22-x49 Ïª¨Îüº Ï†úÍ±∞ ÌõÑ: {data.shape}")

# ÏßÅÏ†ë ÏßÄÏ†ïÌïú xÍ∞í Ï†úÍ±∞: lot_cd, oper_area

data = data.drop(columns=["lot_cd", "oper_area"], axis=1)
data.reset_index(drop=True, inplace=True)

print(f"Î∂àÌïÑÏöîÌïú Ïª¨Îüº Ï†úÍ±∞ ÌõÑ: {data.shape}")

display(data.head(10))

y Í∞í Í≤∞Ï∏°Ïπò Ï†úÍ±∞ ÌõÑ: 1729584 ‚Üí 1671457
x22-x49 Ïª¨Îüº Ï†úÍ±∞ ÌõÑ: (1671457, 29)
Î∂àÌïÑÏöîÌïú Ïª¨Îüº Ï†úÍ±∞ ÌõÑ: (1671457, 27)

,timekey_hr,oper_group,oper_id,days,shift,x1,x2,x3,x4,x5,...,x13,x14,x15,x16,x17,x18,x19,x20,x21,y
0,2025050309,group1,oper1,SAT,A,PG11,2,3900,487.5,0.103,...,400,875,25,0,650,75,50,0,0,0.101
1,2025050310,group1,oper1,SAT,A,PG11,2,3900,650.0,0.077,...,450,1175,25,0,850,100,50,0,0,0.144
2,2025050311,group1,oper1,SAT,A,PG11,2,3900,812.5,0.092,...,525,1250,25,0,975,200,100,0,0,0.165
3,2025050312,group1,oper1,SAT,A,PG11,2,3900,975.0,0.128,...,550,1675,75,0,1050,275,175,0,0,0.196
4,2025050313,group1,oper1,SAT,A,PG11,2,3900,1137.5,0.132,...,525,1575,125,0,925,350,200,0,0,0.199
5,2025050314,group1,oper1,SAT,A,PG11,2,3900,1300.0,0.135,...,400,1550,175,0,875,225,350,0,0,0.200
6,2025050315,group1,oper1,SAT,B,PG11,2,3900,1462.5,0.120,...,600,1750,250,0,1150,275,250,0,0,0.248
7,2025050316,group1,oper1,SAT,B,PG11,2,3900,1625.0,0.200,...,250,1625,275,0,950,200,350,0,0,0.255
8,2025050317,group1,oper1,SAT,B,PG11,2,3900,1787.5,0.126,...,375,1800,250,0,1225,175,250,0,0,0.291
9,2025050318,group1,oper1,SAT,B,PG11,2,3900,1950.0,0.090,...,150,1650,225,0,925,225,200,0,0,0.255

In [ ]:
from sklearn.preprocessing import LabelEncoder, StandardScaler
import numpy as np
scaler = StandardScaler()
continuous_data = data[["x2", "x3", "x4", "x5", "x6", "x7", "x8", "x9", "x10", "x11", "x12", "x13", "x14", "x15", "x16", "x17", "x18", "x19", "x20", "x21"]]

continuous_data = continuous_data.replace(np.inf, 1e+5)
scaled_continuous_data = pd.DataFrame(scaler.fit_transform(continuous_data), columns=continuous_data.columns)

In [ ]:
for col in ["oper_group","days","shift","x1"]:
    print(f"{col} Ïª¨ÎüºÏùò Í≥†Ïú†Í∞í: {data[col].nunique()}")

oper_group Ïª¨ÎüºÏùò Í≥†Ïú†Í∞í: 277
days Ïª¨ÎüºÏùò Í≥†Ïú†Í∞í: 7
shift Ïª¨ÎüºÏùò Í≥†Ïú†Í∞í: 3
x1 Ïª¨ÎüºÏùò Í≥†Ïú†Í∞í: 20

# üìï Îç∞Ïù¥ÌÑ∞ÏÖã Íµ¨ÏÑ± Î∞è Î™®Îç∏ Íµ¨ÌòÑ
-----
* ÌôúÏö©ÌïòÍ≥†Ïûê ÌïòÎäî Îî•Îü¨Îãù Î™®Îç∏Ïóê ÎßûÍ≤å PyTorchÏùò DatasetÍ≥º DataLoaderÎ•º Íµ¨ÏÑ±Ìï¥Ïïº Ìï®
    * Dataset: Î™®Îç∏Ïóê Ï†ÅÌï©ÌïòÍ≤å Îç∞Ïù¥ÌÑ∞Î•º Íµ¨ÏÑ±Ìï¥ÎÜìÏùÄ pytorchÏùò Í∞ùÏ≤¥
    * DataLoader: DatasetÏùÑ ÏõêÌïòÎäî ÌÅ¨Í∏∞Ïùò Î∞∞Ïπò(batch)Î°ú Íµ¨ÏÑ±Ìï¥Ï£ºÎäî Í∞ùÏ≤¥
* Îëê Í∞ÄÏßÄ Î™®Îç∏ÏùÑ ÌôúÏö©ÌïòÍ≥†Ïûê Ìï®: Transformer, TabTransformer

In [ ]:
timekey_oper_id = dict()
max_oper_id_counts = 0
for group in data.groupby("timekey_hr"):
    timekey_oper_id[group[0]] = group[1]["oper_id"].nunique()
    max_oper_id_counts = max(max_oper_id_counts, timekey_oper_id[group[0]])


print(f"len(timekey_oper_id): {len(timekey_oper_id)}")
print(f"{list(timekey_oper_id.items())[:5]}")
print(f"max_oper_id_counts: {max_oper_id_counts}")

len(timekey_oper_id): 2136
[(2025050307, 278), (2025050308, 530), (2025050309, 605), (2025050310, 640), (2025050311, 676)]
max_oper_id_counts: 803